@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
* {
    margin-left: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    background-color: #365486;
}
/*    HEAD    */

header{
    padding: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363062;
}
.header__section {
    margin: 0 auto;
    display: flex;
    gap: 20vw;
}
.logo {
    display: flex;
}
.p1 {
    margin: 10px 0 10px 20px;
    font-size: 25px;
    font-family: 'Press Start 2P', system-ui;
}
.p2{
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    align-items: center;
}
.nav__links {
    display: flex;
    align-items: center;
}
.nav__link {
    margin: 0 8px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.1s ease;
    cursor: pointer;
}
.nav__link:hover{
    box-shadow: 0 1px 8px 0px black;
}
.item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menuCatalogo {
    position: absolute;
    padding: 12px 16px;
    border-radius: 10px;
    height: 0;
    top: 54px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #363062;
    transition: 0.2s ease;
}
.menuCatalogo a {
    margin: 11px 0;
}
.menuCatalogo a:hover {
    text-decoration: underline;
}
.menuCatalogo:hover, .nav__link1:hover ~ .menuCatalogo{
    box-shadow: 0 1px 8px 0px black;
    height: 207px;
    top: 67px;
    z-index: 1;
}
/*    HEAD    */

/*    MAIN    */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*    MAIN    */

/*    SECTION 1     */

.section1 {
    margin: 6vw 0 3vw;
    min-width: 440px;
    width: 45vw;
    min-height: 221px;
    height: 20vw;
    display: flex;
    justify-content: center;
}
.section1 div {
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.adidas1 {
    width: 85%;
    transition: 0.3s ease;
}
.section1 div:hover .adidas1 {
    width: 90%;
}
/*    SECTION 1     */

/*    SECTION 2    */

.section2 {
    width: 90%;
    margin-top: 4vw;
    margin-bottom: 6vw;
    display: flex;
    justify-content: center;
}
.section2__item {
    margin: 0 20px;
    padding: 20px 0;
    border-radius: 15px;
    min-width: 200px;
    width: 18vw;
    min-height: 130px;
    height: 10vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section2__item:hover .pc1{
    width: 95%;
}
.section2__item:hover .pelotas1{
    width: 65%;
}
.section2__item:hover .pou1{
    width: 45%;
}

.pc1 {
    width: 90%;
    transition: 0.3s ease;
}
.pelotas1 {
    width: 60%;
    transition: 0.3s ease;
}
.pou1 {
    width: 40%;
    transition: 0.3s ease;
}
/*    SECTION 2    */

/*    FOOTER    */

footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}
.footerTitle {
    font-size: 18px;
}
.menuLinks{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menuLinks a:hover{
    text-decoration: underline;
}
.icon {
    width: 20px;
}
/*    FOOTER    */