@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
* {
    margin-left: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #365486;
}
input {
    display: none;
}
/*    HEAD    */

header{
    padding: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363062;
}
.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-right: 25vw;
    display: flex;
}
.p1 {
    margin: 10px 0 10px 20px;
    font-size: 25px;
    font-family: 'Press Start 2P', system-ui;
}
.p2{
    margin: 10px 0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    align-items: center;
}
i {
    cursor: pointer;
}
label {
    display: none;
}
#hamburguer{
    font-size: 30px;
    height: 30px;
}
#x {
    font-size: 40px;
    height: 30px;
}

.nav__links {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__link {
    margin: 0 8px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.1s ease;
    cursor: pointer;
}
.nav__link:hover{
    box-shadow: 0 1px 8px 0px black;
}
.nav__link2 {
    width: 129px;
}
.item1 {
    display: flex;
    justify-content: center;
}
.menuCatalogo {
    position: absolute;
    padding: 12px 16px;
    border-radius: 10px;
    height: 0;
    top: 54px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #363062;
    transition: 0.2s ease;
    z-index: 2;
}
.menuCatalogo a {
    margin: 11px 0;
}
.menuCatalogo a:hover {
    text-decoration: underline;
}
.menuCatalogo:hover, .nav__link1:hover ~ .menuCatalogo{
    box-shadow: 0 1px 8px 0px black;
    height: 207px;
    top: 67px;
}
/*    HEAD    */

/*    MAIN    */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*    MAIN    */

/*    SECTION 1     */

.section1{
    margin: 86px 0 45px;
    width: 653.25px;
    height: 370px;
    border-radius: 20px;
    background-color: #363062;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.15s ease;
}
.contMainImg {
    margin: 25px 0;
    width: 90%;
    height: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
}
.contMainImg a {
    width: 100%;
    height: 100%;
    background-image: url(../images/zapatos/stanSmith/stanSmith1.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    transition: 0.15s ease;
}
.section1:hover .contMainImg a {
    background-size: 95%;
}
.section1:hover{
    padding-bottom: 60px;
    margin-bottom: -15px;
}
.section1:hover .info{
    top: 523px;
    visibility: visible;
}
.info {
    position: absolute;
    top: 473px;
    margin: 20px 50px;
    width: 546.9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    transition: 0.15s ease;
}
.nombre{
    margin: 0;
    font-size: 30px;
}
.boton  {
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #71A95A;
    cursor: pointer;
}
.boton:hover{
    background-color: #709053;
}
/*    SECTION 1     */

/*    SECTION 2    */

.section2 {
    width: 1367.28px;
    margin-top: 61.44px;
    margin-bottom: 92.16px;
    display: flex;
    justify-content: center;
}
.section2__item {
    margin: 0 20px;
    border-radius: 15px;
    width: 276.475px;
    height: 183px;
    background-color: #363062;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease;
}

.miniImg {
    width: 90%;
    height: 85%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.15s ease;
    border-radius: 5px;
    z-index: 1;
}
.miniBoton {
    width: 112.488px;
    position: absolute;
    top: 787px;
    transition: 0.15s ease;
    visibility: hidden;
}
.miniImg1 {
    background-image: url(../images/tecnologia/pc/pc1.png);
    background-size: 78%;
}
.section2__item:hover .miniImg1 {
    background-size: 83%;
}
.section2__item:hover {
    padding-bottom: 40px;
    margin-bottom: -40px;
}
.section2__item:hover .miniBoton{
    top: 830px;
    visibility: visible;
}

.miniImg2 {
    background-image: url(../images/deportes/pelotas/pelotas1.png);
    background-size: 57%;
}
.section2__item:hover .miniImg2 {
    background-size: 62%;
}

.miniImg3 {
    background-image: url(../images/juguetes/pou/pou1.png);
    background-size: 41%;
}
.section2__item:hover .miniImg3 {
    background-size: 46%;
}


/*    SECTION 2    */

/*    FOOTER    */

footer {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}
.footerTitle {
    font-size: 18px;
}
.menuLinks{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menuLinks a:hover{
    text-decoration: underline;
}
.icon {
    margin-right: 5px;
    width: 30px;
    cursor: pointer;
    transition: 0.15s;
}
.icon:hover{
    width: 35px;
}
/*    FOOTER    */


@media screen and (max-width: 800px) {
    /*    HEAD    */
    .header__section {
        width: 95%;
        justify-content: space-between;
    }
    label {
        display: block;
    }
    #x{
        position: absolute;
        top: 5px;
        right: 5px;
        transition: 0.15s;
    }
    #hamburguer{
        transition: 0.15s;
    }
    #x:hover {
        font-size: 41px;
    }
    #hamburguer:hover{
        font-size: 31px;
    }

    #checkMenu:checked ~ .nav{
        top: 20px;
        right: 20px;
    }
    .logo{
        margin-right: 0;
    }
    .nav {
        position: absolute;
        top: -250px;
        right: 20px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0F1035;
        z-index: 2;
        border-radius: 10px;
        transition: 0.15s;
    }
    .nav__links{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav__link:hover{
        background-color: #363062;
    }
    .menuCatalogo{
        left: -112px;
        visibility: hidden;
    }
    .menuCatalogo:hover, .nav__link1:hover ~ .menuCatalogo{
        visibility: visible;
    }
    /*    HEAD    */
    .section1 {
        margin: 10vw 0 7vw;
        width: 80vw;
        height: 49vw;
    }   
}